## Loading Data

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
train= pd.read_csv('/content/drive/My Drive/titanic/train.csv')
test= pd.read_csv('/content/drive/My Drive/titanic/test.csv')

In [ ]:
train.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [ ]:
print(train.shape)
print(test.shape)

(891, 12)
(418, 11)

In [ ]:
train.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [ ]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

## Creating Features

**Gender**

In [ ]:
train_sex_ohe= pd.get_dummies(train['Sex'], drop_first=True)
test_sex_ohe= pd.get_dummies(test['Sex'], drop_first=True)

In [ ]:
train_sex_ohe.corrwith(train['Survived'])

male   -0.543351
dtype: float64

In [ ]:
train[['Fare', 'Age', 'SibSp','Parch', 'Pclass', 'SibSp', 'Parch']].corrwith(train['Survived'])

Fare      0.257307
Age      -0.077221
SibSp    -0.035322
Parch     0.081629
Pclass   -0.338481
SibSp    -0.035322
Parch     0.081629
dtype: float64

**Pclass**

In [ ]:
train_pclass_ohe=pd.get_dummies(train['Pclass'])
test_pclass_ohe=pd.get_dummies(test['Pclass'])

In [ ]:
train_pclass_ohe.corrwith(train['Survived'])

1    0.285904
2    0.093349
3   -0.322308
dtype: float64

**Fare**

In [ ]:
from sklearn.preprocessing import StandardScaler
scalar= StandardScaler().fit(train['Fare'].values.reshape(-1,1))
train_fare_std =scalar.transform(train['Fare'].values.reshape(-1,1))
test_fare_std= scalar.transform(test['Fare'].values.reshape(-1,1))

In [ ]:
temp= pd.DataFrame(train_fare_std)
# temp.head()
temp.corrwith(train['Survived'])
# train_embarked_ohe.corrwith(train['Survived'])

0    0.257307
dtype: float64

**Embarked**

In [ ]:
train_embarked_ohe= pd.get_dummies(train['Embarked'])
test_embarked_ohe= pd.get_dummies(test['Embarked'])

In [ ]:
# gender, pclass are most useful
# age siblings can be binned to create features
# test model on different sets of features 
# use many models with best params

**Age**

In [ ]:
from sklearn.preprocessing import StandardScaler
scalar= StandardScaler().fit(train['Age'].values.reshape(-1,1))
train_age_std =scalar.transform(train['Age'].values.reshape(-1,1))
test_age_std= scalar.transform(test['Age'].values.reshape(-1,1))

In [ ]:
pd.DataFrame(train_age_std).corrwith(train['Survived'])

0   -0.077221
dtype: float64

**Age Binned**

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# sns.boxplot(train['Survived'], train['Age'])

In [ ]:
age_bins= pd.cut(x=train['Age'], bins=12)
# , labels=[1,2,3,4,5,6,7,8]
# age_bins
# .value_counts()
age_df= pd.DataFrame(age_bins)
age_df['Survived']=train['Survived']
age_df.groupby(by='Age').agg([np.mean, len])

                  Survived
                      mean  len
Age
(0.34, 7.052]     0.680000   50
(7.052, 13.683]   0.380952   21
(13.683, 20.315]  0.370370  108
(20.315, 26.947]  0.342857  140
(26.947, 33.578]  0.416667  144
(33.578, 40.21]   0.445545  101
(40.21, 46.842]   0.326923   52
(46.842, 53.473]  0.458333   48
(53.473, 60.105]  0.392857   28
(60.105, 66.737]  0.266667   15
(66.737, 73.368]  0.000000    5
(73.368, 80.0]    0.500000    2

**SibSp Parch**

In [ ]:
train.groupby(by='SibSp').agg({'Survived':[np.mean, len]})

       Survived
           mean  len
SibSp
0      0.345395  608
1      0.535885  209
2      0.464286   28
3      0.250000   16
4      0.166667   18
5      0.000000    5
8      0.000000    7

In [ ]:
train.groupby(by='Parch').agg({'Survived':[np.mean, len]})

       Survived
           mean  len
Parch
0      0.343658  678
1      0.550847  118
2      0.500000   80
3      0.600000    5
4      0.000000    4
5      0.200000    5
6      0.000000    1

In [ ]:
# we can divide Parch into 2 bins
# we can divide Sibsp into bins
# we can divide age into bins

In [ ]:
def featurize_parch(x):
  if x==0:
    return 0
  else:
    return 1

def featurize_sibsp(x):
  if x==0:
    return 0
  else:
    if ((x==1) or (x==2)):
      return 1
    else:
      return 2

In [ ]:
train_parch_ohe=train['Parch'].apply(featurize_parch)
test_parch_ohe= test['Parch'].apply(featurize_parch)

In [ ]:
train_sibsp_ohe=pd.get_dummies(train['SibSp'].apply(featurize_sibsp))
test_sibsp_ohe=pd.get_dummies(test['SibSp'].apply(featurize_sibsp))

In [ ]:
train_parch_ohe.shape

(891,)

In [ ]:
pd.DataFrame(train_parch_ohe).corrwith(train['Survived'])

Parch    0.147408
dtype: float64

In [ ]:
train_sibsp_ohe.corrwith(train['Survived'])

0   -0.115867
1    0.177738
2   -0.111145
dtype: float64

In [ ]:
# join all the features 
# make function for parameter tuning
# use different algo on it
# find feature importance and manipulate features
# ensemble

## Joining all features

In [ ]:
train_dataset= pd.concat([train_sex_ohe,
                            train_pclass_ohe,
                            pd.DataFrame(train_fare_std, columns=['Fare']),
                            # pd.DataFrame(train_age_std, columns=['Age']),
                            train_embarked_ohe,
                            train_sibsp_ohe,
                            train_parch_ohe], axis=1)

In [ ]:
train_dataset.shape

(891, 12)

In [ ]:
test_dataset= pd.concat([test_sex_ohe,
                            test_pclass_ohe,
                            pd.DataFrame(test_fare_std, columns=['Fare']),
                            # pd.DataFrame(train_age_std, columns=['Age']),
                            test_embarked_ohe,
                            test_sibsp_ohe,
                            test_parch_ohe], axis=1)

test_dataset.shape

(418, 12)

In [ ]:
test_dataset.isnull().sum()

male     0
1        0
2        0
3        0
Fare     1
C        0
Q        0
S        0
0        0
1        0
2        0
Parch    0
dtype: int64

In [ ]:
test_dataset.loc[test_dataset['Fare'].isnull(), :]

     male  1  2  3  Fare  C  Q  S  0  1  2  Parch
152     1  0  0  1   NaN  0  0  1  1  0  0      0

In [ ]:
test_dataset['Fare']= test_dataset['Fare'].fillna(test_dataset['Fare'].min())

In [ ]:
train_dataset.to_csv('/content/drive/My Drive/titanic/train_dataset.csv', index=False)

In [ ]:
test_dataset.isnull().sum()

male     0
1        0
2        0
3        0
Fare     0
C        0
Q        0
S        0
0        0
1        0
2        0
Parch    0
dtype: int64

In [ ]:
test_dataset.to_csv('/content/drive/My Drive/titanic/test_dataset.csv', index=False)

In [ ]:
x= pd.read_csv('/content/drive/My Drive/titanic/test_dataset.csv')

In [ ]:
x.head()

   male  1  2  3      Fare  C  Q  S  0  1.1  2.1  Parch
0     1  0  0  1 -0.490783  0  1  0  1    0    0      0
1     0  0  0  1 -0.507479  0  0  1  0    1    0      0
2     1  0  1  0 -0.453367  0  1  0  1    0    0      0
3     1  0  0  1 -0.474005  0  0  1  1    0    0      0
4     0  0  0  1 -0.401017  0  0  1  0    1    0      1